<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.versionone.common.preferences.PreferencePage"
            id="com.versionone.common.preferences.PreferencePage"
            name="VersionOne">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.versionone.common.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
