<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="VersionOne"
            id="com.versionone.taskview">
      </category>
      <view
            name="Task View"
            icon="icons/sample.gif"
            category="com.versionone.taskview"
            class="com.versionone.taskview.views.TaskView"
            id="com.versionone.taskview.views.TaskView">
      </view>
   </extension>
</plugin>
